{% for username in smtp_users %}
[{{ groups['mail-server'][0] }}.{{ domain }}]:587 {{ username }}@{{ domain }}:{{ lookup('community.general.passwordstore', 'aaron/' + groups['mail-server'][0] + '/' + username) }}
{% endfor %}
